body {
  margin: 0;
}

.cm-content,
.cm-gutter {
  min-height: 350px !important;
  max-width: 100% !important;
}
.cm-scroller {
  overflow: auto;
}
.markdown pre {
  background-color: #f6f6f6;
  overflow: auto;
  padding: 20px;
}
